.page{
    height: 100%;
    background-color: #fff;
    &-search{
        width: 100%;
        padding: 20px 0;
        height: 60px;
        &-main{
            display: flex;
            flex-direction: row;
            margin: 0 30px;
            border-radius: 30px;
            background-color: #F5F7FA;
            &-text{
                width: calc(100% - 96px);
                font-size: 28px;
                line-height: 60px;
                color: #8D93A8;
                text-align: center;
            }
            &-line{
                width: 2px;
                height: 30px;
                border-radius: 1px;
                background: #DFE5EB;
                margin-top: 12px;
            }
            &-icon{
                padding-left: 20px;
            }
        }
    }
    &-empty {
        padding:0 30px;
    }
    
}