.page{
    &-title{
        margin-top: 40px;
        text-align: center;
        .at-avatar{
            margin:0 auto;
            margin-bottom: 20px;
        }
    }

    &-admin{
        width: 92%;
        margin: 0 auto;
        margin-top: 80px;
        &-item{
            height: 100px;
            line-height: 100px;
            // 横轴  纵轴 阴影长度
            box-shadow: 0 6px 32px 0 rgba(141, 153, 168, 0.21);
            border-radius: 20px;
            position: relative;
            margin-bottom: 30px;
            image{
                width: 60px;
                height: 60px;
                vertical-align: middle;
                margin-left:20px;
            }
            .text{
                margin-left:30px;
                font-family: PingFangSC-Semibold;
                font-weight: 600;
                font-size: 30px;
                color: #4A4A4A;
            }
            .right{
                position: absolute;
                right: 0;
                top: 10px;
            }
        }
        
    }
    
}